@import './globalVariables.scss';

@mixin border($border: none, $radius: 0) {
    border: $border;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

@mixin flex($flexDirection: row, $alignItems: none, $justifyContent: none, $gap: 0, $flexWrap: none) {
    display: flex;
    flex-direction: $flexDirection;

    @if $alignItems != none {
        align-items: $alignItems;
    }

    @if $gap != 0 {
        gap: $gap;
    }

    @if $justifyContent != none {
        justify-content: $justifyContent;
    }

    @if $flexWrap != none {
        flex-wrap: $flexWrap;
    }
}

@mixin spacing($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
}

@mixin square($size: 0, $borderRadius: 0) {
    height: $size;
    width: $size;

    @if $borderRadius != 0 {
        border-radius: $borderRadius;
    }
}

@mixin circle($size) {
    @include square($size, 50%);
}

@mixin theme($property, $key, $inlinePre: null, $inlinePost: null, $transition: 0) {
    @each $theme in $themes {
        $value: map-get($theme, $key);
        
        @if ($theme == $darkTheme) {
            @at-root [theme-mode='dark'] #{&} {
                #{$property}: #{$inlinePre} #{$value} #{$inlinePost};
            }
        }
        
        @else {
            @at-root :root #{&} {
                #{$property}: #{$inlinePre} #{$value} #{$inlinePost};
            }
        }

        @if $transition != 0 {
            transition: #{$property} $transition;
        }
    }
}