@import '../../resources/globalStyles.scss';

.booksFinderContainer {
    @include spacing(0, 1rem);

    @media (min-width: 1024px) {
        padding: 1.5rem 1rem;
    }

    @media (min-width: 1500px) {
        padding: 2rem 1rem;
    }
}

.inputWrapper {
    @include flex($gap: 1rem, $alignItems: flex-end, $flexWrap: wrap);

    .inputCol {
        @include flex($flexDirection: column, $gap: 0.5rem, $alignItems: flex-start);

        &:first-of-type {
            flex: 1;
        }
    }
}

.loaderWrapper {
    @include position($position: fixed, $top: 50%, $left: 50%, $transform: translate(-50%, -50%));
    z-index: 100;
}
