@import '../../resources/globalStyles.scss';
@import '../../resources/globalVariables.scss';

.headerContainer {
    @include flex($alignItems: center, $gap: 0.25rem);
    text-decoration: none;

    .header {
        font-size: 1.2rem;
        font-family: 'Homemade Apple', cursive;
        font-weight: 700;
        text-shadow: 1px 1px 0px rgba($color: $black, $alpha: 0.25);
        @include theme(color, textPrimary, $transition: $transitionDuration);

        @media (min-width: 768px) {
            font-size: 1.35rem;
        }

        @media (min-width: 1200px) {
            font-size: 1.6rem;
        }
    }

    .iconWrapper {
        height: 2.2rem;
        width: 2.2rem;

        @media (min-width: 768px) {
            height: 2.5rem;
            width: 2.5rem;
        }

        @media (min-width: 1200px) {
            height: 2.75rem;
            width: 2.75rem;
        }
    }
}
