@import '../../resources/globalStyles.scss';
@import '../../resources/globalVariables.scss';

.bookshelfContentRow {
    @include flex($flexDirection: column, $gap: 2rem);

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.bookshelfContentCol {
    @include flex($flexDirection: column);
    flex: 1;

    .bookshelfCover {
        border-radius: 6px;
        height: auto;
        width: 100%;
    }

    .bookshelfUpdated {
        @include theme(color, textContrastLight, $transition: $transitionDuration);
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 1.25rem;

        @media (min-width: 1024px) {
            margin-bottom: 2rem;
        }
    }

    .bookshelfDescription {
        @include theme(color, textPrimary, $transition: $transitionDuration);
        font-size: 0.95rem;
        letter-spacing: -0.25px;
    }
}

.bookshelfTitleWrapper {
    @include flex($gap: 0.5rem);

    .menuIconWrapper {
        position: relative;
    }

    .bookshelfTitle {
        @include theme(color, themeSecondary, $transition: $transitionDuration);
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 2.4rem;
        margin-bottom: 0.5rem;

        @media (min-width: 1024px) {
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
}